.specs-section {
  padding: $padding-default;


  @media (min-width: $breakpoint-lg) {
    align-self: flex-start;
    justify-self: flex-start;
    border: 1px solid $color-white;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
  }

  &__header {
    text-transform: uppercase;
    font-family: $font-header;
  }

  &__category-list {
    list-style: none;
  }

  &__category-header {
    font-family: $font-header;
  }

  &__specs-list {
    list-style: inside;
  }
}