.header {
  position: relative;
  display: flex;
  color: $color-black;

  &--stacked {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: auto;
    height: 100%;
  }

  &__text {
    width: 100%;

    &--overlay {
      color: $color-white;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &--stacked {
      margin-bottom: 1rem;
    }
  }
}
