.header {
  position: relative;
  display: flex;
  color: $color-black;
  overflow: hidden;
  background-color: $color-black;

  &--stacked {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    object-fit: cover;
    padding: 1rem;
  }

  &__text {
    position: relative;
    z-index: 20;
    width: 100%;
    font-family: $font-header;
    text-transform: uppercase;

    &--overlay {
      color: $color-white;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &--stacked {
      margin-bottom: 1rem;
    }
  }
}
