.header {
  position: relative;
  display: flex;
  justify-content: center;
  
  color: $color-black;
  overflow: hidden;
  background-color: $color-black;
 
  &--stacked {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    object-fit: cover;
    padding: $padding-default;
  }

  &__text {
    position: relative;
    z-index: 20;
    padding: $padding-default;
    font-family: $font-header;
    font-size: $font-size-header;
    text-transform: uppercase;
    background-color: $color-black;

    &--overlay {
      color: $color-white;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &--stacked {
      margin-bottom: 1rem;
    }
  }
}
