.nav {
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $padding-default;
  background: $gradient-linear-grayscale;
  color: $color-white;

  &--overlay {
    position: fixed;
  }

  &--transparent {
    background: transparent;
  }
}