.nav-links {
  display: grid;
  position: fixed;
  z-index: 10;
  top: calc($height-nav + $height-banner);
  bottom: $height-footer;
  left: 0;
  right: 0;
  
  list-style: none;
  
  font-family: $font-primary;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  background-color: $color-white;

  &--closed {
    display: none;
  }
}