.button {
  cursor: pointer;
  position: relative;
  background: none;
  font-family: $font-primary;
  border: none;
  color: $color-white;
  background-color: $color-black-transparent;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    @media (min-width: $breakpoint-md) {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__link {
    display: block;
    padding: $padding-default;
  }
}