.hero {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  &__content {
    position: absolute;
    display: flex;
    bottom: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
  }

  &__button {
    margin-top: 1rem;
  }

  &--closed {
    display: none;
  }
}

.block-menu {
  position: absolute;
  z-index: 1;
  color: $color-white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-black;

  &__close {
    cursor: pointer;
  }

  &__list {
    list-style: none;
  }
    
  &--closed {
    display: none;
  }
}