.product-form {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  gap: 1rem;
  padding: 2rem;

  &__section {
    display: grid;
  }

  &__textarea {
    height: 20rem;
  }

  &__button {
    cursor: pointer;
    justify-self: center;
    padding: $padding-default;
  }
}