.block-menu {
  position: fixed;
  z-index: 1;
  top: calc($height-banner + $height-nav);
  bottom: $height-footer;
  left: 0;
  right: 0;
  font-family: $font-header;
  color: $color-white;
  background-color: $color-black;

  &__close {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    background: none;
    color: inherit;
    font-size: 2rem;
    border: none;
  }

  &__items {
    height: 100%;
    display: grid;
    list-style: none;
  }

  &__item {
    cursor: pointer;  
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  &__link {
    display: flex;
    align-items: end; 
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: inherit;
    font-size: 3rem;
    text-decoration: none;
    text-transform: capitalize;
  }
    
  &--closed {
    display: none;
  }
}