.nav-links {
  z-index: 100;
  display: grid;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: $height-footer;
  left: 0;
  right: 0;
  
  list-style: none;
  
  font-family: $font-primary;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;

  color: $color-black;
  background-color: $color-white;

  &--closed {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: grid;
    }
  }

  @media (min-width: $breakpoint-md) {
    position: relative;
    grid-template-columns: repeat(5, max-content);
    gap: 1rem;
    top: 0;
    font-size: 1.5rem;
    background-color: transparent;
    text-align: start;
    color: $color-white;
  }
}