// typography
$font-primary: 'Lato', sans-serif;
$font-header: 'MicrogrammaDBolExt.TTF', sans-serif;
$font-size-default: 1.6rem;

// colors
$color-black: #141313;
$color-green: green;
$color-white: #FFFFFF;

// sizing
$height-banner: 2rem;
$height-footer: 4rem;
$height-nav: 4rem;
$height-main: calc(100% - $height-banner - $height-nav - $height-footer);

// breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1100px;
$breakpoint-xl: 1400px;
