// typography
$font-primary: 'Lato', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-size-default: 1.6rem;

// colors
$color-black: #141313;
$color-green: green;
$color-white: #FFFFFF;

// sizing
$height-banner: 2rem;
$height-footer: 4rem;
$height-nav: 4rem;
$height-main: calc(100vh - $height-banner - $height-nav - $height-footer);
