.card {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  place-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: $color-white;


  &__link {
    cursor: pointer;
  }

  &__image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      max-width: 30rem;
    }
  }

  &__image {
    width: 75%;
    height: auto;
    background-color: $color-black;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-header;
    font-size: 3rem;
    font-weight: 600;
  }

  &__text {
    white-space: pre-line;
  }

  &__button {
    justify-self: center;
    background-color: $color-black;
    text-transform: capitalize;
  }
}