.card {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  place-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: $color-white;

  @media (min-width: $breakpoint-md) {
    width: 100%;
    
    grid-template-rows: max-content 1fr max-content;
    background-color: $color-white;

    &:nth-child(even) {
      grid-template-columns: 1fr 30rem;
    }

    &:nth-child(odd) {
      grid-template-columns: 30rem 1fr;
    }

    &:nth-child(even) > 
    &__image-container {
      grid-column: 1 / 2;
    }
  }

  &__image-container {
    @media (min-width: $breakpoint-md) {
      width: 100%;
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }
  }

  &__link {
    cursor: pointer;
  }

  &__image {
    height: auto;
    border-radius: $border-radius;

    @media (min-width: $breakpoint-md) {
      width: 100%;
    }
  }

  &__header-container {
    @media (min-width: $breakpoint-md) {
      width: 100%;
      height: 100%;
      grid-row: 1 / 2;
    }
  }

  &__header {
    text-transform: uppercase;
    font-family: $font-header;
    font-size: $font-size-header;
    padding:  0 $padding-default;
  }

  &__text-container {
    @media (min-width: $breakpoint-md) {
      grid-row: 2 / 3;
    }
  }

  &__text {
    white-space: pre-line;

    @media (min-width: $breakpoint-md) {
      padding: $padding-default;
      display: flex;
      align-items: flex-end;
    }
  }

  &__button {
    justify-self: center;
    background-color:  $color-black-transparent;
    text-transform: capitalize;
    border-radius: $border-radius;

    @media (min-width: $breakpoint-md) {
      grid-column: 1 / 2;
      grid-row: 3 / 4; 
    }
  }

  &__cta {
    text-transform: capitalize;
    text-decoration: underline;
  }
}