// typography
$font-primary: 'Poppins', sans-serif;
$font-header: 'Montserrat', sans-serif;
$font-size-default: 1.3rem;
$font-size-header: 2.5rem;
$font-size-sm: 1rem;

// colors
$color-black: #292626;
$color-black-transparent: rgba(0, 0, 0, .7);
$color-green: green;
$color-white: #FFFFFF;

// sizing
$height-banner: 2rem;
$height-footer: 4rem;
$height-nav: 4rem;
$height-main: calc(100% - $height-banner - $height-nav - $height-footer);
$max-width-card: 80rem;
$border-radius: .5rem;

// spacing
$padding-default: 1rem;
$padding-lg: 2rem;

// breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1100px;
$breakpoint-xl: 1400px;
