.summary {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: $padding-lg;
  gap: $padding-lg;
  font-family: $font-primary;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: max-content 1fr;
  }

  &__header {
    text-transform: uppercase;
    font-family: $font-header;
    padding-top: $padding-default;
  }

  &__copy {
    font-size: $font-size-lg;
  }
}