.grid {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 
    $height-nav 
    calc(100% - $height-nav - $height-footer)
    $height-footer;

  &--no-navbar {
    grid-template-rows: 
      calc(100% - $height-footer)
      $height-footer;
  }
}