.text-block-section {
  padding: $padding-default;

  @media (min-width: $breakpoint-lg) {
    grid-row: 3 / -1;
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: $padding-lg;
    }
  }

  &__header {
    text-transform: capitalize;
    font-family: $font-header;
  }
}