.block-menu {
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: $font-header;
  color: $color-white;
  background-color: $color-white;
  overflow: scroll;

  &__close {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 1rem;
    right: 1rem;
    background: none;
    color: inherit;
    font-size: 2rem;
    border: none;
  }

  &__edit-button {
    z-index: 20;
    cursor: pointer;
    position: absolute;
    top: $padding-default;
    right: $padding-default;
    padding: 0 $padding-default;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $padding-lg;
    padding: $padding-lg;
    list-style: none;
  }
}