.block-menu {
  position: relative;
  width: 100%;
  z-index: 1;
  font-family: $font-header;
  background-color: $color-white;
  color: $color-black;
  overflow: scroll;

  &__item {
    position: relative;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $padding-lg;
    padding: $padding-lg;
    list-style: none;
  }
}