.block-menu {
  position: relative;
  width: 100%;
  z-index: 0;
  font-family: $font-header;
  background-color: $color-white;
  color: $color-black;

  &__item {
    position: relative;
  }

  &__items {
    position: relative;
    width: 100%;
    padding: $padding-lg;
    list-style: none;

    @media (min-width: $breakpoint-md) {
      display: grid;
      gap: $padding-lg;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}