.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: visible;
  width: 3rem;
  height: 2rem;

  &__lines {
    position: relative;
    width: 3rem;
    height: 2px;
    background-color: currentColor;

    &::before,
    &::after {
      content: '';
      display: block;
      background-color: inherit;
      width: 100%;
      height: 2px;
    }

    &::before {
      transform: translateY(-.8rem);
    }

    &::after {
      transform: translateY(.6rem);
    }
  }
}